<div>
    <a href="javascript:void(0)" id="fpXciu">Ciudad</a> |
    <a href="javascript:void(0)" id="fpXven">Vendedor</a> |
    <a href="javascript:void(0)" id="fpXtri">Trimestre</a> 
</div>

<div class="chart_fp_det_fab">
    <div id="chart_fp_ciu" class="ocultar">Gráfica Facturados y Pedidos x Ciudad</div>
    <div id="chart_fp_ven" class="ocultar">Gráfica Facturados y Pedidos x Vendedor</div>
    <div id="chart_fp_tri">Vista de laGrafica Facturados y Pedidos x Trimestre</div>
</div>