<div>
    <a href="javascript:void(0)" id="leadXtri">Trimestre</a> |
    <a href="javascript:void(0)" id="leadXfab">Fabricante</a> |
    <a href="javascript:void(0)" id="leadXciu">Ciudad</a> |
    <a href="javascript:void(0)" id="leadXven">Vendedor</a>
</div>

<div class="chart_lead_det_fab">
    <div id="chart_tri">Grafica Lead x Trimestre</div>
    <div id="chart_fab" class="ocultar">Grafica Lead x Fabricante</div>
    <div id="chart_ciu" class="ocultar">Grafica Lead x Ciudad</div>
    <div id="chart_ven" class="ocultar">Grafica Lead x Vendedor</div>
</div>