<div>
    <a href="javascript:void(0)" id="ccXciu">Ciudad</a> |
    <a href="javascript:void(0)" id="ccXven">Vendedor</a> |
    <a href="javascript:void(0)" id="ccXtri">Trimestre</a> |
    <a href="javascript:void(0)" id="ccXano">Año</a>
</div>

<div class="chart_cc_det_fab">
    <div id="chart_cc_ciu" class="ocultar">Grafica Cuota VS Cumplimiento x Ciudad</div>
    <div id="chart_cc_ven" class="ocultar">Grafica Cuota VS Cumplimiento x Vendedor</div>
    <div id="chart_cc_tri">Grafica Cuota VS Cumplimiento x Trimestre</div>
    <div id="chart_cc_ano" class="ocultar">Grafica Cuota VS Cumplimiento x Año</div>
</div>