<div>
    <a href="javascript:void(0)" id="fXciu">Ciudad</a> |
    <a href="javascript:void(0)" id="fXven">Vendedor</a> |
    <a href="javascript:void(0)" id="fXtri">Trimestre</a> |
    <a href="javascript:void(0)" id="fXpro">Probabilidad</a>
</div>

<div class="chart_f_det_fab">
    <div id="chart_f_ciu" class="ocultar">Grafica Forecast x Ciudad</div>
    <div id="chart_f_ven" class="ocultar">Grafica Forecast x Vendedor</div>
    <div id="chart_f_tri">Grafica Forecast x Trimestre</div>
    <div id="chart_f_pro" class="ocultar">Grafica Forecast x Probabilidad</div>
</div>